html {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: navy;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: whitesmoke;
}