html {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: navy;
}

h1 {
  color: whitesmoke;
}

.big-gap {
  gap: 5rem;
}

.box {
  background: dimgray;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  color: white;
}